ul
  list-style: none
  padding-left: 0;

.logo
  width: 60%
  margin-top: 20px
  margin-bottom: 20px
  align-self: center;
  max-width: 100%;

.container
  width: 100%
  max-width: 900px;
  margin: 0 auto

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex-basis: 50%;
}

@media screen and (min-width: 600px) {
  .col-md-3 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-basis: 25%;
  }
}